footer {
    background:  #222;;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    width: 100%;
    height:fit-content;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-name {
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(to right, #ea07ee, #c2e708);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-links {
    margin-bottom: 1rem;
}

.footer-links a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-links a:hover {
    transform: scale(1.2);
}

.footer-links img {
    width: 24px;
    height: 24px;
}

.footer-nav {
    justify-content: center;
}

.footer-nav-item {
    margin: 0 15px;
    color: rgb(232, 148, 22);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.footer-nav-item:hover {
    color: #f6356f;
    cursor: pointer;
}

.footer-about {
    margin: 1rem 0;
}

.footer-company-categories {
    margin: 1rem 0;
}

.footer-category-links {
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;
}

.footer-category-item {
    color: #21d07a;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 10px;
}

.footer-category-item:hover {
    color: #f6356f;
    cursor: pointer;
}

.footer-copyright {
    font-size: 0.9rem;
    color: #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-nav {
        flex-direction: column;
        gap: 10px;
    }

    .footer-category-links {
        flex-direction: column;
        gap: 20px;
    }
}
